/* register css */
.bg-light {
  background-color: #ffff !important;
}
body {
color: #fff;
background: #63738a;
font-family: 'Roboto', sans-serif;
}
.form-control {
height: 30px;
box-shadow: none;
color: #969fa4;
}
.form-control:focus {
border-color: #5cb85c;
}
.form-control, .btn {        
border-radius: 3px;
}

/* About css */
h2 {
color: #333;
text-align: center;
text-transform: uppercase;
font-family: "Roboto", sans-serif;
font-weight: bold;
position: relative;
margin-top: 1em!important;
}
.h2{
margin-top: 1em!important;
}
h2::after {
content: "";
width: 100px;
position: absolute;
margin: 0 auto;
height: 2px;
background: #ffdc12;
left: 0;
right: 0;
bottom: -10px;
}
div.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center;
  width: 700px;
  height:400px;

}
div.description{
  padding: 5px;
  text-align: center;
}
.homepage{
  margin: 50px;
  text-align: center;
}

.dics{
  border: 2px solid green;
  padding: 50px;
  margin: 20px;
}
